@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,46,1) 35%, rgba(6,18,20,1) 100%);
  font-family: "Nunito", sans-serif;
}
.privacy-policy {
  color: #333;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.privacy-policy h1 {
  color: #5a189a;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.privacy-policy h2 {
  color: #333;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.privacy-policy p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.privacy-policy ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.privacy-policy ul li {
  margin-bottom: 10px;
}

.privacy-policy strong {
  color: #555;
}
